.CarsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-5);
}

.CarsList-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CarsList-heading h2 {
  font-size: 28px;
  font-weight: var(--font-weight-bold);
  color: var(--dark);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: var(--spacing-3);
}

.Tabs {
  margin-top: var(--spacing-3);
}

.CarsList-cars {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: var(--spacing-5);
}